@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		@apply bg-slate-900 text-slate-200 text-sm md:text-base;
	}
}

@layer components {
	.container {
		@apply px-2 py-5 md:px-14 md:py-10;
	}
}

@layer utilities {
	.smbtn {
		@apply px-4 py-2 border border-white rounded-lg text-xs text-accentColor/80 border-accentColor/30 hover:text-accentColor/90 hover:border-accentColor/40 focus:text-accentColor focus:border-accentColor/50;
	}

	.lgButton {
		@apply w-full text-center py-1 border-b-4 border-transparent focus:border-b-4 focus:border-accentColor/90 duration-300 ease-in-out;
	}
}
